<div>
  <div class="column" id="today">
  
    <h3>Today</h3>
    <table>
      <tr><% @today.each do |item| %></tr>
       <td> <%= item.first %></td>: <td><%= item.last %></td>
      <% end %>
    </table>
  </div>
 
  <div class="column" id="tomorrow">
  <table>
    <h3>Tomorrow</h3>
    <table>
      <tr><% @today.each do |item| %></tr>
       <td> <%= item.first %></td>: <td><%= item.last %></td>
      <% end %>
    </table>
  </div>
</div>
